DB_NAME=krishna_db
DB_USER=postgres
DB_PASSWORD=postgres

# Kubernetes
KUBECONFIG=/path/to/kubeconfig

# Docker Registry
DOCKER_REGISTRY_USERNAME=username
DOCKER_REGISTRY_PASSWORD=password
DOCKER_REGISTRY=krishnadevopstraining
